<div *ngFor="let subject of subjectDetails?.data let i = index" >
  <table width="100%" class="">
    <tbody>
    <tr class="item">
      <td width="100" valign="top">
        <a class="nbg" href="https://movie.douban.com/subject/30414462/" title="{{subject?.subject_title}}">
          <img src="{{subject?.subject_images.images_small}}" width="75" alt="{{subject?.subject_title}}"
               class="">
        </a>
      </td>
      <td valign="top">
        <div class="pl2">
          <a href="https://movie.douban.com/subject/30414462/" class="">
            {{subject?.subject_title}}
            / <span style="font-size:13px;">{{subject?.subject_original_title}}</span>
          </a>
          <div>
            <span>导演：</span>
            <span *ngFor="let cast of subject?.subject_casts let i = index">
              <span class="pl" *ngIf="cast?.casts_type === '1'">{{cast?.casts_name}}</span>
            </span>
          </div>
          <div>
            <span>编剧：</span>
            <span *ngFor="let cast of subject?.subject_casts let i = index">
            <span class="pl" *ngIf="cast?.casts_type === '2'">{{cast?.casts_name}}</span>
            </span>
          </div>
          <div>
            <span>演员：</span>
            <span *ngFor="let cast of subject?.subject_casts let i = index">
              <span *ngIf="i != 0 && cast?.casts_type === '3'">、</span><span class="pl" *ngIf="cast?.casts_type === '3'">{{cast?.casts_name}}</span>
            </span>
          </div>
          <div class="star clearfix">
            <span class="allstar35"></span>
            <span class="rating_nums">7.2</span>
            <span class="pl">(24702人评价)</span>
          </div>
        </div>
      </td>
    </tr>
    <!--<tr class="item">-->
      <!--<td valign="top">-->
        <!--<div class="pl2">-->
          <!--<a href="https://movie.douban.com/subject/30414462/" class="">-->
            <!--{{subject?.subject_title}}-->
            <!--/ <span style="font-size:13px;">黑镜：2018圣诞特别篇</span>-->
          <!--</a>-->
          <!--<p class="pl">保罗·布拉德利 / 乔纳森·阿里斯 / A·J·霍顿 / 弗勒尔·基思 / 劳拉·埃弗兰 / 阿伦·阿萨德 / 苏珊妮·伯登...</p>-->
          <!--<div class="star clearfix">-->
            <!--<span class="allstar35"></span>-->
            <!--<span class="rating_nums">7.2</span>-->
            <!--<span class="pl">(24702人评价)</span>-->
          <!--</div>-->
        <!--</div>-->
      <!--</td>-->
    <!--</tr>-->
    </tbody>
  </table>
  <hr>
</div>
