<div *ngFor="let subject of subjectDetails?.data let i = index" style="padding-top: 10px;">
  <nz-layout>
    <!--<nz-sider>left sidebar</nz-sider>-->
    <nz-content>
      <table width="98%" class="">
        <tbody>
        <tr class="item">
          <td width="105" valign="top">
            <a class="nbg" href="{{subject.subject_alt}}" title="{{subject?.subject_title}}">
              <img src="/image/{{subject?.subject_images.images_small}}" width="95" alt="{{subject?.subject_title}}"
                   class="">
            </a>
          </td>
          <td valign="top">
            <div class="pl2">
              <a href="{{subject.subject_alt}}" class="">
                {{subject?.subject_title}}
                / <span style="font-size:13px;">{{subject?.subject_original_title}}</span>
              </a>
              <div>
                <span>导演：</span>
                <span *ngFor="let cast of subject?.subject_casts let i = index">
              <span class="pl" *ngIf="cast?.casts_type === '1'">[{{cast?.casts_name}}]</span>
            </span>
              </div>
              <div>
                <span>编剧：</span>
                <span *ngFor="let cast of subject?.subject_casts let i = index">
            <span class="pl" *ngIf="cast?.casts_type === '2'">[{{cast?.casts_name}}]</span>
            </span>
              </div>
              <div>
                <span>演员：</span>
                <span *ngFor="let cast of subject?.subject_casts let i = index">
              <span class="pl" *ngIf="cast?.casts_type === '3'">[{{cast?.casts_name}}]</span>
            </span>
              </div>
              <div>
                <span>类型：{{subject?.subject_genres}}</span>
              </div>
              <div>
                <span>语言：{{subject?.subject_languages}}</span>
              </div>
              <div>
                <span>上映日期：{{subject?.subject_pubdate}}</span>
              </div>
              <div>
                <span>时长：{{subject?.subject_durations}}</span>
              </div>
              <div>
                <span>别名：{{subject?.subject_aka}}</span>
              </div>
              <!--<div class="star clearfix">-->
                <!--<span class="allstar35"></span>-->
                <!--<span class="rating_nums">7.2</span>-->
                <!--<span class="pl">(24702人评价)</span>-->
              <!--</div>-->
              <div>
                <app-video></app-video>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </nz-content>
    <nz-sider nzWidth="90">
      <app-rat></app-rat>
    </nz-sider>
  </nz-layout>
</div>
