<div  *ngFor="let ratDetils of rat?.data">
  <div class="rating_wrap clearbox" rel="v:rating">
    <div class="clearfix">
      <div class="rating_logo ll">豆瓣评分</div>
      <!--<div class="output-btn-wrap rr" style="">-->
      <!--<img-->
      <!--src="https://img3.doubanio.com/f/movie/692e86756648f29457847c5cc5e161d6f6b8aaac/pics/movie/reference.png">-->
      <!--<a class="download-output-image" href="#">引用</a>-->
      <!--</div>-->
    </div>
    <div class="rating_self clearfix" typeof="v:Rating">
      <strong class="ll rating_num" property="v:average"><nz-rate [ngModel]="7.3" nzDisabled></nz-rate>{{ratDetils.rat_average}}</strong>
      <span property="v:best" content="10.0"></span>
      <div class="rating_right ">
        <div class="ll bigstar bigstar35"></div>
        <div class="rating_sum">
          <a href="#" class="rating_people"><span property="v:votes">{{ratDetils.rat_total}}</span>人评价</a>
        </div>
      </div>
    </div>
    <div class="ratings-on-weight">

      <div class="item">

        <span class="stars5 starstop" title="力荐">
            5星
        </span>
        <span class="rating_per">{{ratDetils.rat_details5 | number}}</span>
        <br>
      </div>
      <div class="item">

        <span class="stars4 starstop" title="推荐">
            4星
        </span>
        <span class="rating_per">{{ratDetils.rat_details4 | number}}</span>
        <br>
      </div>
      <div class="item">

        <span class="stars3 starstop" title="还行">
            3星
        </span>
        <span class="rating_per">{{ratDetils.rat_details3 | number}}</span>
        <br>
      </div>
      <div class="item">

        <span class="stars2 starstop" title="较差">
            2星
        </span>
        <span class="rating_per">{{ratDetils.rat_details2 | number}}</span>
        <br>
      </div>
      <div class="item">

        <span class="stars1 starstop" title="很差">
            1星
        </span>
        <span class="rating_per">{{ratDetils.rat_details1 | number}}</span>
        <br>
      </div>
    </div>

  </div>
  <!--<div class="rating_betterthan">-->
  <!--好于 <a href="/typerank?type_name=科幻&amp;type=17&amp;interval_id=70:60&amp;action=">68% 科幻片</a><br>-->
  <!--好于 <a href="/typerank?type_name=动作&amp;type=5&amp;interval_id=70:60&amp;action=">69% 动作片</a><br>-->
  <!--</div>-->
</div>
