<div class="container">
  <div class="row">
    <!--<app-search-form></app-search-form>-->
    <div class="col-md-12">
      <!--<span routerLink="/list/1" style="float: right;cursor:pointer;font-size: 12px;">更多>></span>-->
      <nz-divider nzText="本周口碑榜" nzOrientation="left"></nz-divider>
      <app-weekly-list></app-weekly-list>
      <nz-divider nzText="新片榜" nzOrientation="left"></nz-divider>
      <app-new-movies></app-new-movies>
      <nz-divider nzText="欧美票房榜" nzOrientation="left"></nz-divider>
      <app-usbox-list></app-usbox-list>

      <!--<span routerLink="/list/1" style="float: right;padding-top: 20px;cursor:pointer;font-size: 12px;">更多>></span>-->
      <!--<nz-divider nzText="即将上映" nzOrientation="left"></nz-divider>-->
      <!--<app-films-card></app-films-card>-->
    </div>
  </div>
</div>
