<div *ngFor="let item of array">
<table width="100%" class="">
  <tbody>
  <tr class="item">
    <td width="100" valign="top">
      <a class="nbg" href="https://movie.douban.com/subject/30414462/" title="黑镜：潘达斯奈基">
        <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2543862640.webp" width="75" alt="黑镜：潘达斯奈基"
             class="">
      </a>
    </td>
    <td valign="top">
      <div class="pl2">
        <a href="https://movie.douban.com/subject/30414462/" class="">
          黑镜：潘达斯奈基
          / <span style="font-size:13px;">黑镜：2018圣诞特别篇</span>
        </a>
        <p class="pl">保罗·布拉德利 / 乔纳森·阿里斯 / A·J·霍顿 / 弗勒尔·基思 / 劳拉·埃弗兰 / 阿伦·阿萨德 / 苏珊妮·伯登...</p>
        <div class="star clearfix">
          <span class="allstar35"></span>
          <span class="rating_nums">7.2</span>
          <span class="pl">(24702人评价)</span>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<hr></div>
