<div class="container">
  <div class="row">
    <app-carousel></app-carousel>
    <app-search-form></app-search-form>
    <div class="col-md-9">
      <nz-divider nzText="正在热映" nzOrientation="left"></nz-divider>
      <app-in-theaters></app-in-theaters>
      <div style="width: 100%;height: 25px;"><span routerLink="/list/1" style="float: right;cursor:pointer;">更多>></span></div>

      <nz-divider nzText="即将上映" nzOrientation="left"></nz-divider>
      <app-coming-soon></app-coming-soon>
      <div style="width: 100%;height: 15px;"><span routerLink="/list/1" style="float: right;cursor:pointer;">更多>></span></div>

      <nz-divider nzText="新片热播榜" nzOrientation="left"></nz-divider>
      <app-new-movies></app-new-movies>
    </div>
    <div class="col-md-3">
      <nz-divider nzText="本周热映榜" nzOrientation="left"></nz-divider>
      <div style="width: 100%;height: 15px;margin-bottom: 5px;margin-top: -18px;"><span routerLink="/list/1" style="float: right;cursor:pointer;font-size: 12px;">更多榜单>></span></div>
      <app-weekly></app-weekly>

      <nz-divider nzText="欧美榜" nzOrientation="right"></nz-divider>
      <app-usbox></app-usbox>
      <!--<router-outlet></router-outlet>-->
    </div>
  </div>
</div>
