<div class="container">
  <div class="row">
    <app-search-form></app-search-form>
    <div class="col-md-9">
      <!--<nz-divider nzText="正在热映" nzOrientation="left"></nz-divider>-->
      <app-films-card></app-films-card>
    </div>
    <div class="col-md-3">
      <nz-divider nzText="本周热映榜" nzOrientation="right"></nz-divider>
      <app-weekly></app-weekly>

      <nz-divider nzText="欧美榜" nzOrientation="right"></nz-divider>
      <app-weekly></app-weekly>
      <!--<router-outlet></router-outlet>-->
    </div>
  </div>
</div>
